.datePicker {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2000;
	height: 100%;
	background: #fff;
	display: none;
}
.datePicker .nav{
	position:fixed;
	top:0;
}
.datePicker .datePicker-week {
	position: fixed;
	top: 2rem;
	width: 100%;
	background-color: #f7f9fa;
	border-bottom: 1px solid #e3e3e3
}

.datePicker .datePicker-week li {
	width: 14%;
	float: left;
	text-align: center;
	font-size: .6rem;
	height: 1rem;
	line-height: 1rem
}

.datePicker .datePicker-week li:nth-child(5),.datePicker .datePicker-week li:nth-child(6) {
	color: #d95757;
	width: 15%
}

.datePicker .datePicker-body {
	background-color: #fff;
	padding-top: 3rem;
	position: relative;
	z-index: -1
}

.datePicker .datePicker-body table {
	width: 100%
}

.datePicker .datePicker-body tr {
	border-bottom: 1px solid #e3e3e3
}

.datePicker .datePicker-body td {
	height: 3rem;
	text-align: center;
	width: 14.28571%
}

.datePicker .datePicker-body .datePicker-date {
	position: relative
}

.datePicker .datePicker-body .datePicker-date .datePicker-day span {
	display: block;
	width: 1rem;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	font-size: .6rem;
	border-radius: .1rem;
	margin: auto
}

.datePicker .datePicker-body .datePicker-date .tips {
	position: absolute;
	top: 0;
	left: 0;
	font-size: .55rem;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	width: 100%;
	color: #1699de
}

.datePicker .datePicker-body .datePicker-date .price {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: .55rem;
	color: #a0a0a0;
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	text-align: center
}

.datePicker .datePicker-body .datePicker-date .price-weekend {
	color: #d95757
}

.datePicker .datePicker-body .datePicker-date .price-special {
	color: #de7e16
}

.datePicker .datePicker-body .datePicker-weekend .datePicker-day {
	color: #d95757
}

.datePicker .datePicker-body .datePicker-disabled .datePicker-day {
	color: #a0a0a0
}

.datePicker .datePicker-body .datePicker-text .datePicker-day span {
	width: 100%
}

.datePicker .datePicker-body .datePicker-selected .datePicker-day span {
	background: #1699de!important;
	color: #fff
}

.datePicker .datePicker-body .datePicker-between .datePicker-day span {
	background: #a6cade!important;
	color: #fff
}

.datePicker .datePicker-body .datePicker-endDate .datePicker-day span,.datePicker .datePicker-body .datePicker-startDate .datePicker-day span {
	background: #1699de!important;
	color: #fff
}

.datePicker .datePicker-month {
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-size: .65rem;
	color: #333;
	border-bottom: 1px solid #e3e3e3
}