/*HeadNav*/
.nav .nav-container {
	position: fixed;
	top: 0;
	z-index: 900;
	width: 100%;
	height: 2rem;
	background-color: #1699de
}

.nav .nav-back {
	position: absolute;
	width: 2rem;
	height: 2rem;
	background-image: url(http://static.dingdandao.com/ic_leftarrow@2x.png);
	background-position: .5rem .525rem;
	background-size: .55rem .95rem;
	background-repeat: no-repeat
}

.nav .nav-title {
	margin: 0;
	color: #fff;
	text-align: center;
	font-size: .8rem;
	line-height: 2rem
}

.nav .nav-shopCart {
	position: absolute;
	top: 0;
	right: 0;
	width: 2rem;
	height: 2rem
}

.nav .nav-shopCart img {
	position: absolute;
	top: .5375rem;
	right: .5rem;
	width: .925rem;
	height: .925rem
}

.nav .nav-shopCart-num {
	position: absolute;
	top: .125rem;
	right: .125rem;
	width: .75rem;
	height: .75rem;
	border-radius: .75rem;
	background: red;
	color: #fff;
	text-align: center;
	font-size: .4rem;
	line-height: .75rem
}

.nav .nav-padding {
	height: 2rem
}

/*AppTopCon*/
